/*colors*/
:root {
  --primary:#16c79e;
  --primary_alt: #baf7e9;
  --accent:#555;
  --neutral_light:#fff;
  --neutral_dark: #444;
}

/*end colors*/
.quoteButtons * {
  margin-left: .25rem;
  margin-right:.25rem;
}

html, body {
  height:100%;
  font-family: 'Roboto', sans-serif;
}

.container {
  height:100%;
  padding-top:15%;
  padding-bottom:20%
}

footer {
  padding-top:5%;
}

.container {
  padding-top:100px;
}

#quoteBox > * {
  padding-top:10px;
  padding-bottom:10px;
}

#quoteBox > #quote {
  height:140px;
  font-size:20px
}

#quoteBox > #author {
  font-size: 15px;
}
#quoteBox #quote {
  position:relative;
}

#quoteBox #quote q {
  position:absolute;
  top: 55%;
  transform: translateY(-45%);
}

.actionButtons {
  margin-top:10px;
}

body {
  background-color:var(--primary);
  /*background: -webkit-linear-gradient(-45deg, var(--primary), var(--primary_alt)); /* For Safari 5.1 to 6.0 */*/
  /*background: -o-linear-gradient(-45deg, var(--primary), var(--primary_alt)); /* For Opera 11.1 to 12.0 */*/
  /*background: -moz-linear-gradient(-45deg, var(--primary), var(--primary_alt)); /* For Firefox 3.6 to 15 */*/
  /*background: linear-gradient(-45deg, var(--primary), var(--primary_alt)); /* Standard syntax */*/
}

#quoteBox {
  background-color:var(--neutral_light);
  border-radius:10px;
  color: var(--neutral_dark);
}

.btn-primary {
  background-color:var(--accent);
  color:var(--neutral_light);
  border-color:var(--accent);
}

.btn-primary:hover {
  color:var(--neutral_light);
  background-color:var(--neutral_dark);
  border-color:var(--accent);
}

footer {
  color:var(--neutral_light);
}

a {
  color:var(--neutral_light)
}

a:hover {
  text-decoration:underline;
  color:var(--neutral_light);
}
